<h1>Editar Status da Troca</h1>

<%= form_with model: @exchange, local: true do |form| %>
  <div>
    <p>Serviço oferecido: <strong><%= @exchange.service_offered.title %></strong></p>
    <p>Serviço solicitado: <strong><%= @exchange.service_requested.title %></strong></p>
  </div>

  <div>
    <%= form.label :status, 'Status da Troca' %>
    <%= form.select :status, ['accepted', 'rejected'], prompt: "Selecione o status" %>
  </div>

  <div>
    <%= form.submit 'Atualizar Troca', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Voltar', exchanges_path, class: 'btn btn-secondary' %>
